openapi: 3.0.0
info:
  title: FastAPI Clean Architecture API
  version: 1.0.0
paths:
  /:
    get:
      summary: Read Root
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Hello World
